In [21]:
# create full 2.99 million dataframe with shortened column dimension (29)
# import libraries, load csv to DF
import pandas as pd
import csv
csvfile = ("zillowDF2017trunc_out.csv")
zwDF2017Short= pd.read_csv(csvfile)
zwDF2017Short.head()

,parcelid,ac_type,bath,beds,bldg_qual,calc_bath,sqft,calc_sqft,fips,garage,...,rooms,units,yearbuilt,tax_structure,tax_total,assessment_yr,tax_land,tax_bill_ayr,tractblk,tractblk1
0,10754147,NaN,0.0,0.0,NaN,NaN,NaN,NaN,6037.0,NaN,...,0.0,NaN,NaN,NaN,9.0,2016.0,9.0,NaN,NaN,NaN
1,10759547,NaN,0.0,0.0,NaN,NaN,NaN,NaN,6037.0,NaN,...,0.0,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN
2,10843547,NaN,0.0,0.0,NaN,NaN,NaN,73026.0,6037.0,NaN,...,0.0,2.0,1959.0,660680.0,1434941.0,2016.0,774261.0,20800.37,NaN,NaN
3,10859147,NaN,0.0,0.0,6.0,NaN,NaN,5068.0,6037.0,NaN,...,0.0,NaN,1948.0,580059.0,1174475.0,2016.0,594416.0,14557.57,NaN,NaN
4,10879947,NaN,0.0,0.0,NaN,NaN,NaN,1776.0,6037.0,NaN,...,0.0,1.0,1947.0,196751.0,440101.0,2016.0,243350.0,5725.17,NaN,NaN

In [28]:
zwDF2017Short.shape

(2985217, 29)

In [23]:
zwDF2017Short.count()

parcelid               2985217
ac_type                 815362
bath                   2982260
beds                   2982272
bldg_qual              1941395
calc_bath              2868061
sqft                    203758
calc_sqft              2940120
fips                   2982285
garage                  891008
lat                    2982285
lng                    2982285
lot_sqft               2712511
pool                    539632
landuse_id             2982285
region_city            2923089
region_cnty            2982285
region_neighborhood    1156741
regionzip              2972503
rooms                  2982248
units                  1981042
yearbuilt              2937384
tax_structure          2938753
tax_total              2950951
assessment_yr          2982284
tax_land               2925291
tax_bill_ayr           2962465
tractblk               2910232
tractblk1              2910232
dtype: int64

In [26]:
zwDF2017Short.describe()

,parcelid,ac_type,bath,beds,bldg_qual,calc_bath,sqft,calc_sqft,fips,garage,...,rooms,units,yearbuilt,tax_structure,tax_total,assessment_yr,tax_land,tax_bill_ayr,tractblk,tractblk1
count,2.985217e+06,815362.000000,2.982260e+06,2.982272e+06,1.941395e+06,2.868061e+06,203758.000000,2.940120e+06,2.982285e+06,891008.000000,...,2.982248e+06,1.981042e+06,2.937384e+06,2.938753e+06,2.950951e+06,2.982284e+06,2.925291e+06,2.962465e+06,2.910232e+06,2.910232e+06
mean,1.332586e+07,1.945723,2.216196e+00,3.093362e+00,6.280822e+00,2.303826e+00,1379.780460,1.831455e+03,6.048053e+03,1.826581,...,1.474357e+00,1.180303e+00,1.964438e+03,1.781429e+05,4.435279e+05,2.015998e+03,2.684558e+05,5.408949e+03,6.048434e+13,6.048434e+13
std,7.909966e+06,3.160507,1.078250e+00,1.271569e+00,1.729923e+00,1.003243e+00,634.422849,1.954198e+03,2.024082e+01,0.608934,...,2.839869e+00,2.486949e+00,2.364428e+01,4.600503e+05,8.163366e+05,6.039949e-02,4.865097e+05,9.675567e+03,3.249133e+11,3.249133e+11
min,1.071172e+07,1.000000,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000e+00,6.037000e+03,0.000000,...,0.000000e+00,1.000000e+00,1.801000e+03,1.000000e+00,1.000000e+00,2.000000e+03,1.000000e+00,2.400000e-01,-1.000000e+00,-1.000000e+00
25%,1.164371e+07,1.000000,2.000000e+00,2.000000e+00,5.000000e+00,2.000000e+00,1010.000000,1.215000e+03,6.037000e+03,2.000000,...,0.000000e+00,1.000000e+00,1.950000e+03,7.766600e+04,1.882200e+05,2.016000e+03,7.970000e+04,2.468620e+03,6.037400e+13,6.037400e+13
50%,1.254509e+07,1.000000,2.000000e+00,3.000000e+00,6.000000e+00,2.000000e+00,1281.000000,1.574000e+03,6.037000e+03,2.000000,...,0.000000e+00,1.000000e+00,1.963000e+03,1.270660e+05,3.211610e+05,2.016000e+03,1.766190e+05,4.007620e+03,6.037572e+13,6.037572e+13
75%,1.409712e+07,1.000000,3.000000e+00,4.000000e+00,8.000000e+00,3.000000e+00,1615.000000,2.140000e+03,6.059000e+03,2.000000,...,0.000000e+00,1.000000e+00,1.981000e+03,2.040000e+05,5.140720e+05,2.016000e+03,3.261000e+05,6.230500e+03,6.059042e+13,6.059042e+13
max,1.696019e+08,13.000000,3.200000e+01,2.500000e+01,1.200000e+01,3.200000e+01,31303.000000,9.525760e+05,6.111000e+03,25.000000,...,9.600000e+01,9.970000e+02,2.016000e+03,2.553212e+08,3.196225e+08,2.016000e+03,9.401108e+07,3.823176e+06,4.830301e+14,4.830301e+14